<article class="elektrownia-sloneczna">
    <h2>Czym jest miejska elektrownia fotowoltaiczna?</h2>
    <h4>Spółdzielnie i wspólnoty mieszkaniowe jako prosumenci</h4> 
    <p>Prosument, czyli osoba lub podmiot wytwarzający energię elektryczną z odnawialnych źródeł energii na własne potrzeby  i odsprzedający nadwyżki do sieci energetycznej, to nie tylko mieszkańcy domków jednorodzinnych. W Polsce istnieje już wiele instalacji fotowoltaicznych, których właścicielami są spółdzielnie i wspólnoty mieszkaniowe.</p>
    <p>Stosowanie takich rozwiązań umożliwia ustawa o odnawialnych źródłach energii w wersji obowiązującej od połowy 2016 r. Rozwój inwestycji w fotowoltaikę realizowanych przez spółdzielnie mieszkaniowe został również ułatwiony dzięki programowi dofinansowań z  NFOŚiGW o nazwie "Prosument".</p>
    <h4>Jak to działa?</h4> 
    <p>Mikroinstalacje montowane na dachach budynków mieszkalnych i bloków będących własnością spółdzielni zasilają ich część wspólną: korytarze, garaże, piwnice, windy czy też oświetlenia terenu zielonego. Nadwyżki niewykorzystane na miejscu wprowadzane są do sieci.  Jeśli moc instalacji nie przekracza 50 kW można je rozliczyć  w systemie opustów, przy zastosowaniu współczynnika 1:0,7.</p>
    <p>Wśród korzyści dla spółdzielni i wspólnot mieszkaniowych jest ustabilizowanie cen energii elektrycznej i niższe opłaty, niezależność energetyczna, zarabianie na nadwyżkach produkowanej energii oraz troska o środowisko naturalne.</p>
    <h4>Ułatwienia na przyszłość?</h4>
    <p>Poważnym ograniczeniem obecnie funkcjonujących miejskich elektrowni słonecznych jest brak możliwości wykorzystania nadwyżek produkowanej energii przez mieszkańców budynków, będących również członkami spółdzielni. Tutaj oczekujemy zmian legislacyjnych.</p> 
    <p>Idąc krok dalej – po odpowiedniej zmianie prawa powstawać będą mogły spółdzielnie energetyczne, których ideą jest umożliwienie mieszkańcom miast (i nie tylko miast), którzy nie mają własnego domu z odpowiednim dachem, inwestycję w produkcję energii odnawialnej z instalacji zlokalizowanych na innych obiektach. Wiele takich kooperatyw istnieje już na terenie Europy, np.<a href="https://www.dw.com/pl/nie-ma-to-jak-w%C5%82asny-pr%C4%85d-boom-sp%C3%B3%C5%82dzielni-energetycznych-w-rfn/a-45695464" target="_blank"> w Niemczech</a>.</p>
    <h4>Mapa GIS miejskich elektrowni fotowoltaicznych w Polsce</h4> 
    <p><a href="#map">Powyższa mapa</a> przedstawia aktualnie istniejące miejskie elektrownie słoneczne w Polsce – zarówno te już działające jak i dopiero w fazie pilotażu. Największe przedsięwzięcie tego typu, Wrocławska Elektrownia Słoneczna realizowana przez Spółdzielnię Mieszkaniową Wrocław-Południe, już teraz może poszczycić się większą produkcja energii ze słońca niż przewidywano.</p>   
</article>