<article class="kes">
    <h2>Czym jest Krakowska Elektrownia Społeczna (KES)?</h2>
    <p>Z myślą o tworzeniu własnych miejskich elektrowni fotowoltaicznych i wykorzystując dostępne rozwiązania prawne umożliwiające funkcjonowanie na warunkach zbliżonych do spółdzielni energetycznej, powstaje obecnie Krakowska Elektrownia Społeczna (KES).</p> 
    <p>Jest to organizacja w formie spółdzielni użytkowników, która skupia mieszkańców Krakowa i ma na celu inwestowanie w instalacje fotowoltaiczne z zamiarem sprzedaży energii elektrycznej do odbiorców w miejscach działania instalacji (lub też klastra energii, jeśli takowy w Krakowie powstanie). KES ma również cel społeczno-ekologiczny: przeciwdziałanie zmianom klimatu poprzez udział w transformacji energetycznej w kierunku zeroemisyjności oraz promocja i edukacja społeczeństwa w zakresie energetyki rozproszonej, energetyki z odnawialnych źródeł energii oraz energetyki obywatelskiej.</p> 
    <p>Niniejsza mapa GIS jest jedną inicjatyw realizowanych w ramach celów spółdzielni KES.</p>
    <p>Więcej już wkrótce na oficjalnej stronie Krakowskie Elektrowni Społecznej, a póki co trzymajcie za nas kciuki!</p>
    <figure> 
        <img class="image-article" src="/images/kes.png">
        <figcaption>Źródło obrazka: grupa otwarta KES na facebook'u <a href="https://www.facebook.com/groups/555063261662448/" target="_blank">(https://www.facebook.com/groups/555063261662448/)</a>.</figcaption>
    </figure>
</article>