<article class="zrodlo-danych">
    <h2>Źródło danych</h2>
    <h3>Mapa GIS miejskich elektrowni fotowoltaicznych:</h3>
    <ul>
        <h4>Dane wektorowe i atrybutowe:</h4>
        <li>Atrybuty elektrowni przygotowano na podstawie informacji znalezionych w internecie (dokładne źródło w atrybucie URL link).</li>
        <li>Poligony budynków powstały w wyniku digitalizacji podkładów @OpenStreetMap w programie QGIS versja 2.18.20 (open-source GIS software, zobacz <a href="https://qgis.org/en/site/forusers/download.html" target="_blank">https://qgis.org/en/site/forusers/download.html</a>). Na podstawie zdjęć satelitarnych stwierdzano czy instalacja fotowoltaiczna faktycznie występuje na dachu obiektu, ale z uwagi na różną aktualność tych zdjęć część uwzględnionych budynków wymaga weryfikacji.</li>
        <li>Granice państw zaczerpnięte zostały z Natural Earth public domain: <a href="https://www.naturalearthdata.com/downloads/110m-cultural-vectors/110m-admin-0-boundary-lines/" target="_blank"> https://www.naturalearthdata.com/downloads/110m-cultural-vectors/110m-admin-0-boundary-lines/</a> (free vector and raster map data @ naturalearthdata.com, zobacz <a href="https://www.naturalearthdata.com/about/terms-of-use/" target="_blank">Term of use</a>).</li>
        <h4>Podkłady mapowe (kafelki):</h4>
        <li>OpenStreetMap® to projekt open data, rozpowszechniany na licencji Open Data Commons Open Database License (ODbL) przez OpenStreetMap Foundation (OSMF). Mapy w postaci graficznej, a także dokumentacja rozpowszechniane na warunkach licencji Uznanie autorstwa na tych samych warunkach 2.0 (CC BY-SA 2.0) (szczegóły licencji i praw autorskich znajdziesz na <a href="https://www.openstreetmap.org/copyright" target="_blank">https://www.openstreetmap.org/copyright</a>).</li>
        <li>ArcGIS Esri World Imagery możliwe do zastosowania w aplikacji przy odpowiedniej atrybucji (zobacz <a href="https://www.esri.com/en-us/legal/terms/full-master-agreement" target="_blank">Full terms of use</a> lub <a href="http://downloads2.esri.com/ArcGISOnline/docs/tou_summary.pdf" target="_blank">Terms of use w skróconej wersji</a>). Informacje o tym jak stosować atrybucję: <a href="https://developers.arcgis.com/terms/attribution/" target="_blank">https://developers.arcgis.com/terms/attribution/</a>, oraz aktualne metadane zawierające dynamiczną atrybucję: <a href="http://services.arcgisonline.com/arcgis/rest/services/World_Imagery/MapServer?f=pjson" target="_blank">http://services.arcgisonline.com/arcgis/rest/services/World_Imagery/MapServer?f=pjson</a>.</li>
        <h4>Technologie zastosowane do budowy aplikacji:</h4>
        <li>Dane przestrzenne i atrybutowe przechowywane są w bazie danych Postgresql/PostGIS (open source relational database system, zobacz <a href="https://www.postgresql.org/" target="_blank">https://www.postgresql.org/</a>)</li>
        <li>Rozwiązania web-GIS zostały przygotowane w oparciu o <a href="http://duspviz.mit.edu/web-map-workshop/leaflet_nodejs_postgis/" target="_blank">tutorial z platformy duspviz.mit.edu</a> i obejmują: Node.js/Express.js + JavaSctipt/jQuery + Leaflet.js (szczegóły techniczne oraz część kodu źródłowego aplikacji mapowej można znaleźć na profilu github autorki strony <a href="#kontakt">J.Pilch</a>: <a href="https://github.com/GeoFenix/Solar-Poland-Map-of-PV-Power-Plants-in-Cities" target="_blank">https://github.com/GeoFenix/Solar-Poland-Map-of-PV-Power-Plants-in-Cities</a>). </li>
    </ul>
    <h3>Zdjęcia i obrazki:</h3>
    <ul>
        <li>Tło strony: Photo by Patrick Moore from FreeImages: <a href="https://pl.freeimages.com/photo/solar-panel-in-the-field-5-1415227" target="_blank">https://pl.freeimages.com/photo/solar-panel-in-the-field-5-1415227</a>.</li>
        <li>Tło header'a i footer'a: Photo by Patrick Moore from FreeImages: <a href="https://pl.freeimages.com/photo/solar-panel-in-the-field-2-1415250" target="_blank">https://pl.freeimages.com/photo/solar-panel-in-the-field-2-1415250</a>.</li>
        <li>Obrazki w galerii przygotowane przez autorkę strony <a href="#kontakt">J.Pilch</a>.</li>
    </ul>	
</article>