<article class="dataused">
    <h2> Źródło danych</h2>
        <ul>
            <li>Internet reserach (see links in the Solar Belgrade GIS map application) </li>
            <li>QGIS version 2.18.20 (Free GIS software, visit <a href="https://qgis.org/en/site/forusers/download.html" target="_blank">https://qgis.org/en/site/forusers/download.html</a>)</li>
            <li>Postgresql/PostGIS (Free relational database system, visit <a href="https://www.postgresql.org/" target="_blank">https://www.postgresql.org/</a>)</li>
            <li>QGIS Cloud (Free QGIS Web-GIS platform, visit <a href="https://qgiscloud.com/" target="_blank">https://qgiscloud.com/</a>)</li>
            <li>QGIS OpenLayers Plugin: Bing Maps (Free for educational or non-profit organisation, see <a href="https://www.microsoft.com/en-us/maps/product" target="_blank">Term of use</a>)</li>
            //- UZUPEŁNIĆ I DAĆ ODNOŚNIK DO GITHUB
        </ul>
    </h4>
    <h4>Sources of the photos on this website:
        <ul>
            //- UZUPEŁNIĆ 
            <li>Header and footer background photo: home-made by JPilch using Bing Maps Aerial imagery (Free for educational or non-profit organisation, see <a href="https://www.microsoft.com/en-us/maps/product" target="_blank">Term of use</a>)</li>
            <li>Backgroud photo: <a href="http://www.serbiatravelhost.com/wp-content/uploads/2016/12/Zalazak-sunca-Pobednik-Beograd.jpg" target="_blank">http://www.serbiatravelhost.com/wp-content/uploads/2016/12/Zalazak-sunca-Pobednik-Beograd.jpg</a></li>
        </ul>	
    </h4>
</article>