//- Solar Belgrade
<div class="dataused">
    <h4>Public available data sources and software which were used in this project:
        <ul>
            <li>Internet reserach (see links in the Solar Belgrade GIS map application) </li>
            <li><a href="http://www.mapcruzin.com/free-serbia-country-city-place-gis-shapefiles.html" target="_blank"> http://www.mapcruzin.com/free-serbia-country-city-place-gis-shapefiles.html</a></li>
            <li><a href="https://a3.geosrbija.rs/" target="_blank">https://a3.geosrbija.rs/</a> </li>
            <li><a href="http://katastar.rgz.gov.rs/KnWebPublic/PublicAccess.aspx" target="_blank">http://katastar.rgz.gov.rs/KnWebPublic/PublicAccess.aspx</a> </li>
            <li>QGIS version 2.18.20 (Free GIS software, visit <a href="https://qgis.org/en/site/forusers/download.html" target="_blank">https://qgis.org/en/site/forusers/download.html</a>)</li>
            <li>Postgresql/PostGIS (Free relational database system, visit <a href="https://www.postgresql.org/" target="_blank">https://www.postgresql.org/</a>)</li>
            <li>QGIS Cloud (Free QGIS Web-GIS platform, visit <a href="https://qgiscloud.com/" target="_blank">https://qgiscloud.com/</a>)</li>
            <li>QGIS OpenLayers Plugin: Bing Maps (Free for educational or non-profit organisation, see <a href="https://www.microsoft.com/en-us/maps/product" target="_blank">Term of use</a>)</li>
        </ul>
    </h4>
    <h4>Sources of the photos on this website:
        <ul>
            <li>Header and footer background photo: home-made by JPilch using Bing Maps Aerial imagery 
            </br>(Free for educational or non-profit organisation, see <a href="https://www.microsoft.com/en-us/maps/product" target="_blank">Term of use</a>)</li>
            <li>Backgroud photo: <a href="http://www.serbiatravelhost.com/wp-content/uploads/2016/12/Zalazak-sunca-Pobednik-Beograd.jpg" target="_blank">http://www.serbiatravelhost.com/wp-content/uploads/2016/12/Zalazak-sunca-Pobednik-Beograd.jpg</a></li>
        </ul>	
    </h4>
</div>


//- Cinergy
<div class="dataused">
    <h4>Public data sources and software which were used in this project:
        <ul>
            <li>Internet reserach (see links in the Cinergy2018 GIS map application)</li>
            https://www.esri.com/en-us/legal/terms/full-master-agreement
            <li>Country boundaries: <a href="https://www.naturalearthdata.com/downloads/110m-cultural-vectors/110m-admin-0-boundary-lines/" target="_blank">https://www.naturalearthdata.com/downloads/110m-cultural-vectors/110m-admin-0-boundary-lines/</a></br>(Free vector and raster map data @ naturalearthdata.com)</li>
            <li>QGIS version 2.18.20 (Free GIS software, visit <a href="https://qgis.org/en/site/forusers/download.html" target="_blank">https://qgis.org/en/site/forusers/download.html</a>)</li>
            <li>Postgresql/PostGIS (Free relational database system, visit <a href="https://www.postgresql.org/" target="_blank">https://www.postgresql.org/</a>)</li>
            <li>QGIS Cloud (Free QGIS Web-GIS platform, visit <a href="https://qgiscloud.com/" target="_blank">https://qgiscloud.com/</a>)</li>
            <li>QGIS OpenLayers Plugin: Bing Maps (Free for educational or non-profit organisation, see <a href="https://www.microsoft.com/en-us/maps/product" target="_blank">Term of use</a>)</li>
            <li>Tile source: ArcGIS Esri World Imagery (Free for educational or non-profit organisation, see <a href="https://www.esri.com/en-us/legal/terms/full-master-agreement" target="_blank"> Full terms of use</a> or <a href="http://downloads2.esri.com/ArcGISOnline/docs/tou_summary.pdf" target="_blank"> a human readable version </a>)</li>
            <li>Tile source: OpenStreetMap (Free for educational or non-profit organisation, see <a href="https://operations.osmfoundation.org/policies/tiles/" target="_blank"> terms of use</a>)</li>
        </ul>
    </h4>
    <h4> Sources of the photos on this website:
        <ul>
            <li>Header group photo: with author Edyta Zawisza permission</li>
            <li>Header and footer background photo: Bing Maps Aerial imagery (Free for educational or non-profit organisation, see <a href="https://www.microsoft.com/en-us/maps/product" target="_blank">Term of use</a>)</li>
            <li>Backgroud photo: home-made by JPilch using Google Earth imagery, downloaded 2018-11-11 <a "https://www.google.pl/intl/pl/earth/" target="_blank">(https://www.google.pl/intl/pl/earth/)</a></li>
            <li>Instruction photos: home-made by JPilch ;)</li>
        </ul>	
    </h4>
</div>