<div class="instruction-img-center" >
    <a href="/images/instrukcja/1.png" data-fancybox="images" data-caption="To jest obrazkotext">
        <img class="img-instrukcja" src="/images/instrukcja/1.png" alt="instrukcja1">
    </a>
    <a href="/images/instrukcja/2.png" data-fancybox="images" data-caption="To jest obrazkotext">
        <img class="img-instrukcja" src="/images/instrukcja/2.png" alt="instrukcja1">
    </a>
    <a href="/images/instrukcja/3.png" data-fancybox="images" data-caption="To jest obrazkotext">
        <img class="img-instrukcja" src="/images/instrukcja/3.png" alt="instrukcja1">
    </a>
    <a href="/images/instrukcja/4.png" data-fancybox="images" data-caption="To jest obrazkotext">
        <img class="img-instrukcja" src="/images/instrukcja/4.png" alt="instrukcja1">
    </a>
    <a href="/images/instrukcja/5.png" data-fancybox="images" data-caption="To jest obrazkotext">
        <img class="img-instrukcja" src="/images/instrukcja/5.png" alt="instrukcja1">
    </a>
    <a href="/images/instrukcja/6.png" data-fancybox="images" data-caption="To jest obrazkotext">
        <img class="img-instrukcja" src="/images/instrukcja/6.png" alt="instrukcja1">
    </a>
    <a href="/images/instrukcja/7.png" data-fancybox="images" data-caption="To jest obrazkotext">
        <img class="img-instrukcja" src="/images/instrukcja/7.png" alt="instrukcja1">
    </a>
    <a href="/images/instrukcja/8.png" data-fancybox="images" data-caption="To jest obrazkotext">
        <img class="img-instrukcja" src="/images/instrukcja/8.png" alt="instrukcja1">
    </a>
    <a href="/images/instrukcja/9.png" data-fancybox="images" data-caption="To jest obrazkotext">
        <img class="img-instrukcja" src="/images/instrukcja/9.png" alt="instrukcja1">
    </a>
    <a href="/images/instrukcja/10.png" data-fancybox="images" data-caption="To jest obrazkotext">
        <img class="img-instrukcja" src="/images/instrukcja/10.png" alt="instrukcja1">
    </a>
 
</div>