<header class="l-header--bold">
    <div class="l-header__nav">
        <nav>
            <ul>
                //- {% if domain == 'public' %}
                <li><a href="#instrukcja">Instrukcja obsługi przeglądarki GIS</a></li> 
                <li><a href="#elektrownia-sloneczna">Czym jest miejska elektrownia fotowoltaiczna?</a></li>
                <li><a href="#kes">Czym jest Krakowska Elektrownia Społeczna (KES)?</a></li>
                <li><a href="#zrodlo-danych">Źródło danych</a></li>
                <li><a href="#kontakt">Kontakt</a></li>
            </ul>
        </nav>
    </div>
    //- <figure class="l-header__logo">
    //-     <img class="c-img_logo_left" src="/images/ikona_elektrownia.png">
    //- </figure>
    <div class="test">
        <div>
            <h1> Aktualne inicjatywy powstawania miejskich elektrowni fotowoltaicznych w Polsce </h1>
            <h3> Strona na potrzeby popularyzowania rozproszonej energetyki odnawialnej w miastach w ramach Krakowskiej Elektrowni Społecznej (KES) </h3>
        </div>
    </div>
    //- <div class="for-figure"> 
    //-     <figure class="l-header__logo">
    //-         <img class="c-img_logo_right" src="/images/slonce.png">
    //-     </figure>
    //- </div>
</header>


