<header class="header--bold">
    <div class="header__nav">
        <nav>
            <ul>
                <li><a href="#instrukcja">Instrukcja obsługi mapy GIS</a></li> 
                <li><a href="#elektrownia-sloneczna">Czym jest miejska elektrownia fotowoltaiczna?</a></li>
                <li><a href="#kes">Czym jest Krakowska Elektrownia Społeczna (KES)?</a></li>
                <li><a href="#zrodlo-danych">Źródło danych</a></li>
                <li><a href="#kontakt">Kontakt</a></li>
            </ul>
        </nav>
    </div>
    <div class="header__title">
        <h1>Mapa aktualnych inicjatyw tworzenia miejskich elektrowni fotowoltaicznych w Polsce</h1>
        <h3>Strona na potrzeby popularyzowania energetyki odnawialnej w miastach - w ramach projektu Krakowska Elektrownia Społeczna (KES)</h3>
    </div>
</header>


