<header class="l-header--bold">
    <div class="l-header__nav">
        <nav>
            <ul>
                //- {% if domain == 'public' %}
                <li><a href="#elektrownia-sloneczna">Czym jest elektrownia słoneczna?</a></li>
                <li><a href="#energetyka-obywatelska">Czym jest energetyka obywatelska?</a></li>
                <li><a href="#kes">Czym jest KES?</a></li>
                <li><a href="#instrukcja">Instrukcja obsługi przeglądarki GIS</a></li> 
                <li><a href="#zrodlo-danych">Źródło danych</a></li>
                <li><a href="#kontakt">Kontakt</a></li>
                //- <li><a href=""></a></li>
                //- <li><a href=""></a></li>
                //- <li><a href=""></a></li>
                //- <li><a href=""></a></li>
                //- <li><a href=""></a></li>
                //- <li><a href=""></a></li>
            </ul>
        </nav>
    </div>
    //- <figure class="l-header__logo">
    //-     <img class="c-img_logo_left" src="/images/ikona_elektrownia.png">
    //- </figure>
    <div class="test">
        <div>
            <h1> Aktualne inicjatywy powstawania miejskich elektrowni słonecznych w Polsce </h1>
            <h3> Strona na potrzeby popularyzowania OZE i energetyki obywatelskiej w miastach przez Krakowską Elektrownię Społeczną (KES) </h3>
        </div>
    </div>
    //- <div class="for-figure"> 
    //-     <figure class="l-header__logo">
    //-         <img class="c-img_logo_right" src="/images/slonce.png">
    //-     </figure>
    //- </div>
</header>


