<section id="hero" class ="l-hero"> 
    <div class="container c-container--section">
        <div class = "c-box-center">
            <div id="elektrownia-sloneczna">
                <h2> Czym jest elektrownia słoneczna?</h2>
            </div>
            <div id="energetyka-obywatelska">
                <h2> Czym jest energetyka obywatelska?</h2>
            </div>
            <div id="kes">
                <h2> Czym jest KES??</h2>
            </div>
            <div id="instrukcja">
                <h2> Instrukcja obsługi przeglądarki GIS</h2>
            </div>
            <div id="zrodlo-danych">
                <h2> Źródło danych</h2>
            </div>
            <div class="l-hero__content">
                <div class="l-hero__text">
                    <p class="l=hero__text__name">HELLO</p>
                    <p class="l-hero__text__job">HELLO</p>
                </div>
                <button class="l-hero__button">HELOO</button>
            </div>
        </div>
    </div>
</section>