link(rel="stylesheet" href="/stylesheets/jquery.fancybox.min.css")
script(src="javascripts/_vendors/jquery.fancybox.min.js")
<section id="hero"> 
    <div class="container">
        <div class="box-center__section">
            <div id="instrukcja" class="box-article">
                include gallery_instruction.pug
            </div>
            <div id="elektrownia-sloneczna" class="box-article">
                include article/elektrownia_słoneczna.pug
            </div>
            <div id="kes" class="box-article">
                include article/kes.pug
            </div>
            <div id="zrodlo-danych" class="box-article">
                include article/zrodlo_danych.pug
            </div>
        </div>
    </div>
</section>