extends layout
block content
    <h1> Aktualne inicjatywy powstawania miejskich elektrowni słonecznych w Polsce </h1>
    //- form(action='/filter')
    //-     select(name='miasto')
    //-         option(disabled='', selected='', value='') Select One...
    //-         option(value='Warszawa') Spółdzielnia Budowlano-Mieszkaniowa "Zachód"
    //-         option(value='Wrocław') Wrocławska Elektrownia Słoneczna Spółdzielni Mieszkaniowej Wrocław-Południe
    //-         option(value='Kraków') Spółdzielnia Mieszkaniowa "Czyżyny"
    //-     input(type='submit', value='Submit')
    #map
    script.
        var myData = !{JSON.stringify(jsonData)};
        var myData2 = !{JSON.stringify(jsonData2)};
        // Create variable to hold map element, give initial settings to map
        var map = L.map('map',{ center: [51.213728, 19.661492], zoom: 6});
        // Add OpenStreetMap tile layer to map element
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        	attribution: '© OpenStreetMap'
        }).addTo(map);
        // Testy innych tile Layer - ArcGIS World Imagery
        var mapLink = 
            '<a href="http://www.esri.com/">Esri</a>';
        var wholink = 
            'i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community';
        L.tileLayer(
            'http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
            attribution: '&copy; '+mapLink+', '+wholink,
            maxZoom: 18,
            }).addTo(map);
        // Testy WMS tile Layer - DTM: http://mapy.geoportal.gov.pl/wss/service/wmsimg/guest/ISOK_HipsoDyn/ImageServer/WMSServer
        //- var nexrad = L.tileLayer.wms("http://mapy.geoportal.gov.pl/wss/service/wmsimg/guest/ISOK_HipsoDyn/ImageServer/WMSServer", {
        //-     //- layers: 'ISOK_HipsoDyn',
        //-     format: 'image/jpeg',
        //-     transparent: true,
        //-     attribution: "ISOK_HipsoDyn"
        //- }).addTo(map);;

        
        // Add JSON to map
        var p = 'czesc to ja'

        //- var styleForMyData2 = {
        //-     "color": "#ff7800",
        //-     "weight": 5,
        //-     "opacity": 0.65, 
        //-     color: 'white',
        //-     dashArray: '3',
        //-     fillOpacity: 0.7
        //- };

        var styleForMyData2 = {
            color: "#ff7800",
            weight: 5,
            //- opacity: 0.65, 
            //- dashArray: 3,
            fillOpacity: 0
        };

        // Mydata2 -> poligony Państw
        //- L.geoJson(myData2, {
        //-     style: function (geoJsonFeature) {
        //-         return {}
        //-     }
        //- }).addTo(map);
        L.geoJson(myData2, {
            style: styleForMyData2
        }).addTo(map);

        // Mydata -> elektrownie
        L.geoJson(myData,{
            onEachFeature: function (feature, layer) {
                var table = document.createElement('table');
                var tableHeader = document.createElement('thead');
                var tableBody = document.createElement('tbody');
                var tableRow = document.createElement('tr');

                var headers = ['Id', 'Nazwa spółdzielni', 'Rodzaj spółdzielni', 'Miasto', 'Rok oddania do użytku', 'Adres', 'Ilość instalacji', 'Rodzaj instalacji', 'Moc całkowita instalacji', 'Produkcja energii na rok', 'Koszty', 'Realizator', 'Prognozowana redukcja CO2 (na rok?)', 'Info URL']
                var thBox = []
                for (var it = 0; it < headers.length; it++) {
                    var th = document.createElement('th');
                    th.innerText = headers[it];
                    tableHeader.appendChild(th)
                    thBox.push(th)
                }
                console.log(thBox)
                
                var properties = feature.properties
                var tdBox = [];
                for (var value in properties) {
                    var td = document.createElement('td');
                    td.innerText = properties[value];
                    tableRow.appendChild(td);
                    tdBox.push(td)
                };

                console.log(tdBox)

                var table2 = document.createElement('table');
                for (var it = 0; it < headers.length; it++) {
                    var tableRow2 = document.createElement('tr');
                    tableRow2.appendChild(thBox[it]);
                    tableRow2.appendChild(tdBox[it]);
                    table2.appendChild(tableRow2);
                }
                console.log(table2)

                var ul = document.createElement('ul');
                for (var it = 0; it < headers.length; it++) {
                    var li = document.createElement('li');
                    li.innerText = headers[it] + ': ' + feature.properties['f' + (it + 1)];
                    ul.appendChild(li);
                }
                console.log(ul);
          
                layer.bindPopup(table2);
                //- layer.bindPopup(feature.properties.f3);
                //- var $p = $('<p></p>')
                //- layer.bindPopup(p);
            }
        }).addTo(map);

        
