extends layout
block header
    include _components/header.pug
block content
    include _components/map.pug
    include _components/section_pvpowerplants.pug
block footer
    include _components/footer.pug